/* You can add global styles to this file, and also import other style files */

:root {
  --primary1: #3F51B5;
  --primary4: rgba(197, 202, 233, 0.7);


  --primary2: #7986CB;
  --primary3: #283593;

  --accent1: #3F51B5;
  --accent2: rgba(197, 202, 233, 1);
  //--accent1: #EF5350;
  //--accent2: #FFCDD2;
  --warn: #B00020;

  --text1: #212121;
  --text2: #C5CAE9;
  --text3: #000000;

  --light: #FFFFFF;
  --dark1: #2b2b2b;
  --dark2: #343434;

  --background1: var(--light);
  --background2: var(--light);
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden !important;
  background-color: var(--background1);
  transition: all .3s ease-in-out;
}

.mat-dialog-container {
  background-color: var(--background2);
  overflow: hidden !important;
  transition: all .3s ease-in-out;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 8px;
  border-radius: 4px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
  background-color: var(--primary4) !important;
}
.mat-accent .mat-slider-thumb {
  size: 12px;
  bottom: -13px;
  background-color: var(--primary1) !important;
  right: -13px;
  border: none;
  outline: none;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--accent1);
}


