/* You can add global styles to this file, and also import other style files */

:root {
  --primary1: #3F51B5;
  --primary2: #7986CB;
  --primary3: #283593;
  --primary4: #C5CAE9;
  --accent1: #00BFA5;
  --accent2: #B2DFDB;
  --warn: #B00020;

  --text1: #212121;
  --text2: #C5CAE9;
  --text3: #FFFFFF;

  --background: #FFFFFF;
  --darktheme1: #424242;
  --darktheme2: #212121;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden !important;
}

.mat-dialog-container {
  background-color: var(--background);
  overflow: hidden !important;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 8px;
  border-radius: 4px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
  background-color: var(--primary4) !important;
}
.mat-accent .mat-slider-thumb {
  size: 12px;
  bottom: -13px;
  background-color: var(--primary1) !important;
  right: -13px;
  border: none;
  outline: none;
}

