.mat-list-item{
  padding: 7% !important;
}

/*.mat-grid-tile{*/
/*  !*padding: 0;*!*/
/*}*/


.mat-list {
  width: 80%;
}

.img{
  width: 400px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 8%;
}

.toolbar {
  height: 10%;
}

.grid-container {
  height: 90%;
}
