.mat-list-item{
  padding: 7% !important;
}

.mat-list {
  width: 80%;
}

.img{
  width: 420px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 7%;
  transition: all .3s ease-in-out;
}
.playbtn
{
  position: absolute;
  bottom: 6%;
  left: 24px;
  color: var(--text2);
  background-color: var(--primary1);
  transition: all .3s ease-in-out;
}

.volumesldr
{
  position: absolute;
  bottom: 6%;
  left: 96px;
}

.progbar{
  width: 650px;
  height: 8px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 10%;
  border-radius: 4px;
}

.mat-card{
  background-color: var(--background2);
  transition: all .3s ease-in-out;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: var(--accent1) !important;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: var(--accent2) !important;
}

.toolbar {
  height: 10%;
}

.grid-container {
  background-color: var(--background1);
  transition: all .3s ease-in-out;
  height: 90%;
}

.slidergrid-card {
  width: 100%;
  height: 70%;
  margin: 20%;
  contain: paint;
}

.slidergrid {
  position: relative;
  width: 100%;
  height: 88%;
  top: 6%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: all .3s ease-in-out;
}

.next-button{
  position: relative;
  display: block;
  width: 40%;
  height: 12%;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  background-color: var(--accent1);
  color: var(--text3);
  outline: none;
  border: none;
  transition: all .3s ease-in-out;
}

