.mat-list-item{
  padding: 7% !important;
}

.next-button{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  background-color: var(--primary1);
  color: var(--text1);
  outline: none;
  border: none;
}

.mat-list {
  width: 80%;
}

.img{
  width: 420px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 7%;
}
.playbtn
{
  position: absolute;
  bottom: 6%;
  left: 24px;
  color: var(--text1);
  background-color: var(--accent1);
}

.volumesldr
{
  position: absolute;
  bottom: 6%;
  left: 96px;
}

.progbar{
  width: 650px;
  height: 8px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 10%;
  border-radius: 4px;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: var(--primary1) !important;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: var(--primary4) !important;
}

.toolbar {
  height: 10%;
}

.grid-container {
  //background-color: var(--darktheme2);
  height: 90%;
}
