.mat-dialog-actions{
  justify-content: center;
  display: flex;
  text-align: center;
}

.mat-dialog-title{
  color: var(--text1);
}

.button {
  padding: 0 40px 0 !important;
  background-color: var(--primary1);
  color: var(--text3);
  transition: all .3s ease-in-out;
}
