<body>
  <toolbar class="toolbar"></toolbar>

  <div class="grid-container">
    <mat-grid-list cols="4" rowHeight="10%">

      <mat-grid-tile #viewgridtile colspan="2" rowspan="8">
        <mat-card>
          <view #view></view>
        </mat-card>
<!--        <view [parentElement]="viewgridtile"></view>-->
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="8">
          <mat-list>
            <mat-list-item>
              <attribute-slider attributeName="Immersion"
                                matTooltip="{{stringStore.immersionAttributeDescription}}"
                                matTooltipPosition="right"></attribute-slider>
            </mat-list-item>

            <mat-list-item>
              <attribute-slider attributeName="Clarity"
                                matTooltip="{{stringStore.clarityAttributeDescription}}"
                                matTooltipPosition="right"></attribute-slider>
            </mat-list-item>

            <mat-list-item>
              <attribute-slider attributeName="Width"
                                matTooltip="{{stringStore.widthAttributeDescription}}"
                                matTooltipPosition="right"></attribute-slider>
            </mat-list-item>

            <mat-list-item>
              <attribute-slider attributeName="Depth"
                                matTooltip="{{stringStore.depthAttributeDescription}}"
                                matTooltipPosition="right"></attribute-slider>
            </mat-list-item>
          </mat-list>
      </mat-grid-tile>

      <mat-grid-tile colspan="4" rowspan="2" class="logo">

      </mat-grid-tile>

    </mat-grid-list>

  </div>

  <img class=img src="assets/Images/RIT_rgb_hor_k.png" alt="RIT">

</body>
