.mat-card-title
{
  color: var(--text3);
}

.subtitle {
  top: -16% !important;
  margin: 0 !important;
}

.mat-card-subtitle{
  color: var(--text3);
}

.mat-grid-list {
  position: relative;
  top: 12%;
}

/*.title {*/
/*  font-size: 26px !important;*/
/*}*/

.form {
  top: -30% !important;
  height: 24%;
}

.mat-form-field
{
  text-align: center;
  font-size: 18px;
}

.button {
  top: -8% !important;
  color: var(--text3);
}

.directions
{
  color: var(--text3);
  white-space: pre;
  text-align: center;
}
