.subtitle {
  top: -16% !important;
  margin: 0 !important;
}
.mat-grid-list {
  position: relative;
  top: 12%;
}

/*.title {*/
/*  font-size: 26px !important;*/
/*}*/

.form {
  top: -30% !important;
  height: 30%;
}

.button {
  top: -8% !important;
}

.directions
{
  white-space: pre;
  text-align: center;
}
