<mat-card-title-group>
  <mat-card-title class="title" >Welcome</mat-card-title>
</mat-card-title-group>

<mat-grid-list cols = 1 rowHeight="4.5:1">

<!--  <mat-grid-tile>-->
<!--    -->
<!--  </mat-grid-tile>-->

  <mat-grid-tile class="subtitle">
    <mat-card-subtitle>Please Enter Your Name</mat-card-subtitle>
  </mat-grid-tile>

  <mat-grid-tile class="form">
    <mat-form-field appearance="outline">
      <input [(ngModel)]="input" [formControl]="usernameValidator" matInput autocomplete="off">
      <mat-error *ngIf="usernameValidator.hasError('maxlength')">Name must be less than 25 characters</mat-error>
      <mat-error *ngIf="usernameValidator.hasError('required')">Please enter a username</mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile class="button">
    <mat-dialog-actions>
      <button (click)="closeDialog()" mat-stroked-button disabled="false">Submit</button>
    </mat-dialog-actions>
  </mat-grid-tile>

</mat-grid-list>
