.subtitle {
  top: -4% !important;
  margin: 0 !important;
}
.mat-grid-list {
  position: relative;
  top: 12%;
}

/*.title {*/
/*  font-size: 26px !important;*/
/*}*/

/*.form {*/
/*  margin-top: 180px !important;*/
/*}*/

.button {
  top: -8% !important;
}
