.toolbar{
  justify-content: space-between;
  background-color: var(--primary1) !important;
  color: var(--text2) !important;
  transition: all .3s ease-in-out;
}

.mat-card-title
{
  font-size: 26px;
  color: var(--primary4);
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}
.spacer {
  flex: 1 1 auto;
}

.darkmode{
  margin: 10px;
  outline: none;
  border: none;
}
.end-session{
  margin: 10px;
  outline: none;
  border: none;
}
