.toolbar{
  justify-content: space-between;
  background-color: var(--primary1) !important;
  color: var(--text2) !important;
}

.spacer {
  flex: 1 1 auto;
}

.darkmode{
  margin: 10px;
  outline: none;
  border: none;
}
.end-session{
  margin: 10px;
  outline: none;
  border: none;
}
